__pycache__/
*.pyc

logs/*
!logs/.gitkeep

graphs/*
!graphs/.gitkeep

videos/*
!videos/.gitkeep

models/*
!models/.gitkeep
!models/best_model/
!models/checkpoints/
models/best_model/*
!models/best_model/.gitkeep
models/checkpoints/*
!models/checkpoints/.gitkeep
